<div class="w-[400px] right-[20px] bg-black bottom-0 shadows h-[53px] fixed -translate-x-[calc] rounded-t-[16px] cursor-not-allowed">
    <div class="flex items-center h-full justify-between w-full px-[16px]">
        <div class="flex leading-[24px] py-[2px] text-[20px] h-full items-center">
            <span class="font-chirp font-bold  text-tw_white-primary">Messages</span>
        </div>
        <div class="flex min-w-[56px] h-full  items-center">
            <div class="h-[36px] w-[36px] rounded-full flex hover:bg-tw_gray-hover items-center justify-center cursor-pointer">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="h-[20px w-[20px] text-[#eff3f4] fill-current"><path d="M1.998 5.5c0-1.381 1.119-2.5 2.5-2.5h15c1.381 0 2.5 1.119 2.5 2.5V12h-2v-1.537l-8 3.635-8-3.635V18.5c0 .276.224.5.5.5H13v2H4.498c-1.381 0-2.5-1.119-2.5-2.5v-13zm2 2.766l8 3.635 8-3.635V5.5c0-.276-.224-.5-.5-.5h-15c-.276 0-.5.224-.5.5v2.766zM19 18v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z"></path></svg> 
            </div>
            <div class="h-[36px] w-[36px] rounded-full flex hover:bg-tw_gray-hover items-center justify-center cursor-pointer">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="h-[20px] w-[20px] text-[#eff3f4] fill-current"><path d="M12 2.59l9.46 9.45-1.42 1.42L12 5.41l-8.04 8.05-1.42-1.42L12 2.59zm0 7l9.46 9.45-1.42 1.42L12 12.41l-8.04 8.05-1.42-1.42L12 9.59z"></path></svg> 
            </div>
        </div>
    </div>
</div>  