<div class="w-screen h-full flex justify-center items-center top-0 fixed">
    <div class="top-0 right-0 left-0 bottom-0 fixed flex basis-auto bg-[#5b708366]"></div>
    <div class="z-10 bg-black min-h-[400px] max-w-[80vw] max-h-[90vw] h-[650px] min-w-[600px] shrink rounded-[16px] overflow-hidden">
        <div class="h-[53px] z-10 flex w-full">
            <div class="max-w-[600px] flex w-full justify-center items-center">
                <div class="flex basis-1/2 min-w-[56px] min-h-[53px] shrink grow px-[16px] items-center">
                    <div (click)="closedialog()" class=" basis-1/2 flex items-center h-full">
                        <div class="hover:cursor-pointer ml-[calc(-8px)] min-h-[36px] flex min-w-[36px] rounded-full items-center justify-center hover:bg-tw_gray-hover duration-[.2s]">
                            <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[20px] h-[20px] fill-current" style="color: rgb(239, 243, 244);"><path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path></svg>
                        </div>
                    </div>
                    <div class="shrink flex justify-center items-center h-[53px]">
                        <div class="min-w-[53px] h-full flex items-center justify-center grow">
                            <svg viewBox="0 0 24 24" aria-label="Twitter" role="img" class="text-tw_white-secondar fill-current w-[32px]"><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></svg>
                        </div>
                    </div>
                    <div class="flex basis-1/2 min-h-[32px] min-w-[56px] shrink items-end grow">
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-[600px] flex shrink w-full grow mx-auto">
            <div class="pb-[48px] min-w-[364px] max-w-[364px] px-[32px] m-auto flex flex-col">
                <div class="my-[20px]">
                    <h1 class="text-[31px] leading-[36px] text-tw_white-primary font-bold font-chirp">Sign in to Twitter</h1>
                </div>
                <div (click)="SignInGoogle()" class="w-[300px] h-[40px] my-[12px] mx-auto flex justify-center">
                    <div class="w-[320px] h-[44px] flex justify-center hover:cursor-pointer">
                        <div class="py-[2px] flex w-full">
                            <div class="rounded-[20px] flex w-full bg-white items-center justify-center">
                                <div class="w-[18px] h-[18px] flex  mr-[8px]">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class=""><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></svg>
                                </div>
                                <span class="font-medium text-[14px] tracking-[0.25px] font-googleSans text-tw_gray-gooogleText leading-[17.77px]">Sign in with Google</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hover:bg-tw_white-hover2 duration-[.2s] hover:cursor-not-allowed my-[12px] border-[0.899px] bg-white w-[300px] h-[40px] flex items-center justify-center rounded-full">
                    <div class="mr-[4px] ">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[20px] h-[20px] " style="color: rgb(15, 20, 25);"><path d="M16.365 1.43c0 1.14-.493 2.27-1.177 3.08-.744.9-1.99 1.57-2.987 1.57-.12 0-.23-.02-.3-.03-.01-.06-.04-.22-.04-.39 0-1.15.572-2.27 1.206-2.98.804-.94 2.142-1.64 3.248-1.68.03.13.05.28.05.43zm4.565 15.71c-.03.07-.463 1.58-1.518 3.12-.945 1.34-1.94 2.71-3.43 2.71-1.517 0-1.9-.88-3.63-.88-1.698 0-2.302.91-3.67.91-1.377 0-2.332-1.26-3.428-2.8-1.287-1.82-2.323-4.63-2.323-7.28 0-4.28 2.797-6.55 5.552-6.55 1.448 0 2.675.95 3.6.95.865 0 2.222-1.01 3.902-1.01.613 0 2.886.06 4.374 2.19-.13.09-2.383 1.37-2.383 4.19 0 3.26 2.854 4.42 2.955 4.45z"></path></svg>
                    </div>
                    <span class="font-bold font-chirp text-tw_black">Sign in with Apple</span>
                </div>
                <div class="flex grow items-center justify-center ml-[-4px]">
                    <div class="mx-[4px] flex  w-full grow">
                        <div class="my-[8px] h-[1px] w-full flex bg-[#333639]"></div>
                    </div>
                    <div class="">
                        <span class="text-tw_white-primary leading-[20px] text-[17px]">or</span>
                    </div>
                    <div class="mx-[4px] grow flex w-full">
                        <div class="my-[8px] h-[1px] w-full flex bg-[#333639]"></div>
                    </div>
                </div>
                <div class="flex w-full py-[12px] h-full">
                    <div class="relative max-w-[300px] w-full h-[58.24px] flex items-end">
                        <input class="peer h-full w-full rounded-[4px] border border-[#333639] bg-transparent px-[8px] pt-[13px] pb-[2px] text-[17px] font-chirp text-blue-gray-700 outline-none transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-tw_blue-primary  disabled:border-0 disabled:bg-blue-gray-50" placeholder=" "/>
                        <label class="pointer-events-none absolute left-[8px] top-[8px] flex h-full w-full select-none text-[13px] font-chirp  text-tw_gray-text transition-all peer-placeholder-shown:text-[17px] peer-placeholder-shown:leading-[2.75] peer-placeholder-shown:text-blue-gray-500 peer-focus:text-[13px] peer-focus:leading-tight peer-focus:text-tw_blue-primary peer-disabled:text-transparent ">Email</label>
                    </div>
                </div>
                <div class="flex w-full py-[12px] h-full">
                    <div class="relative max-w-[300px] w-full h-[58.24px] flex items-end">
                        <input class="peer h-full w-full rounded-[4px] border border-[#333639] bg-transparent px-[8px] pt-[13px] pb-[2px] text-[17px] font-chirp text-blue-gray-700 outline-none transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-tw_blue-primary disabled:border-0 disabled:bg-blue-gray-50" placeholder=" "/>
                        <label class="pointer-events-none absolute left-[8px] top-[8px] flex h-full w-full select-none text-[13px] font-chirp  text-tw_gray-text transition-all peer-placeholder-shown:text-[17px] peer-placeholder-shown:leading-[2.75] peer-placeholder-shown:text-blue-gray-500 peer-focus:text-[13px] peer-focus:leading-tight peer-focus:text-tw_blue-primary peer-disabled:text-transparent ">Password</label>
                    </div>
                </div>
                <button class="hover:bg-tw_white-hover2 duration-[.2s] my-[12px] border-[0.899px] bg-white w-[300px] h-[40px] flex items-center justify-center rounded-full">
                    <span class="font-bold font-chirp text-tw_black">Sign in</span>
                </button>

                <div class="mt-[40px] font-chirp ">
                    <span class="text-tw_gray-text">Don't have an account?</span><span (click)="singUp()" class="text-tw_blue-primary ml-[4px] hover:cursor-pointer hover:underline duration-[.3s]">Sign up</span>
                </div>
            </div>
        </div>
    </div>
</div>