<div class="w-[350px]  flex">
    <div class="h-[1180px] w-full ">
        <div class=" bg-tw_black w-[350px] fixed z-10 h-[53px] flex items-center">
            <div class="bg-tw_gray-bgsearch border border-tw_gray-bgsearch rounded-full w-full max-w-[350px]">
                <div  class="cursor-text flex w-full ">
                    <div class="self-center cursor-default flex items-center justify-center">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="flex  h-[1.25em] pl-[12px] min-w-[44px] w-full fill-current text-tw_gray-text"><path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path></svg>
                    </div>
                    <div class="flex w-full  rounded-r-full overflow-hidden items-center justify-center">
                        <input type="text" placeholder="Search Twitter" class="leading-[18px] w-full p-[12px] overflow-hidden object-none bg-tw_gray-bgsearch outline-none font-chirp border-none placeholder-tw_gray-text resize-none"> 
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-[65px] mb-[16px]">
            <div class="border-y rounded-[16px] border-tw_gray-bgtrend">
                <div class="bg-tw_gray-bgtrend border-x border-tw_gray-bgtrend rounded-[16px] ">
                    <div class="px-[16px] py-[12px] ">
                        <span class="mt-[2px] text-tw_white-primary font-chirp text-[20px] leading-[24px] font-black ">Trends for you</span>
                    </div>
                    <div class="">
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Trending in Turkey</div>
                                <span class="font-bold ml-[1px] ">Sinan Bey</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">11.1K Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Politics · Trending</div>
                                <span class="font-bold ml-[1px]  ">Sandiklarda</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">20.5K Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Politics · Trending</div>
                                <span class="font-bold ml-[1px] ">YSK'dan</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">20.5K Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Sports · Trending</div>
                                <span class="font-bold ml-[1px] ">Simge Sağın</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">1,655 Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Trending in Turkey</div>
                                <span class="font-bold ml-[1px] ">Metin Akpınar</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">1,027 Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Politics · Trending</div>
                                <span class="font-bold ml-[1px] ">AFyoksa OydaYok</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">20.5K Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Business & finance · Trending</div>
                                <span class="font-bold ml-[1px] ">Erden Timur</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">10.9K Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Trending in Turkey</div>
                                <span class="font-bold ml-[1px] ">#ZamGeldi</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">11.2K Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Actors · Trending</div>
                                <span class="font-bold ml-[1px] ">Birce Akalay</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">3,415 Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="font-chirp  px-[16px] py-[12px] hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <div class="relative flex flex-col ">
                                <div class="text-tw_gray-text leading-[16px] text-[13px]">Politics · Trending</div>
                                <span class="font-bold ml-[1px] ">Mehmet Şimşek</span>
                                <div class="text-tw_gray-text  text-[13px] leading-[16px]leading-[16px]">30.5K Tweets</div>
                                <div class="min-h-[20px] flex justify-center items-center absolute top-[1px] right-0">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[1.25em] text-tw_gray-text fill-current"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                            <button class="text-tw_blue-primary font-chirp p-[16px]">Show More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-[16px]">
            <div class="border-y rounded-[16px] border-tw_gray-bgtrend">
                <div class="bg-tw_gray-bgtrend border-x border-tw_gray-bgtrend rounded-[16px] ">
                    <div class="px-[16px] py-[12px] ">
                        <span class="mt-[2px] text-tw_white-primary font-chirp text-[20px] leading-[24px] font-black ">Trends for you</span>
                    </div>
                    <div class="hover:bg-tw_white-hover duration-[.2s] w-full flex px-[16px] py-[12px] cursor-pointer">
                        <div class="min-w-[48px] min-h-[48px] max-w-[48px] mr-[12px] rounded-full overflow-hidden">
                            <img src="../../../assets/img/aasd.jpg" alt="">
                        </div>
                        <div class="flex justify-between w-full items-center">
                            <div class="flex flex-col">
                                <span class="font-chirp">nesly</span>
                                <span class="font-chirpss text-tw_gray-text">@neslhnatasvr</span>
                            </div>
                            <div class="w-[78px] flex rounded-full h-[32px] bg-tw_white-primary justify-center items-center text-tw_black">
                                <span class="font-chirp font-bold">Follow</span>
                            </div>
                        </div>
                    </div>
                    <div class="hover:bg-tw_white-hover duration-[.2s] w-full flex px-[16px] py-[12px] cursor-pointer">
                        <div class="min-w-[48px] min-h-[48px] max-w-[48px] mr-[12px] rounded-full overflow-hidden">
                            <img src="../../../assets/img/aa.jpg" alt="">
                        </div>
                        <div class="flex justify-between w-full items-center">
                            <div class="flex flex-col">
                                <span class="font-chirp">Muharrem İNCE</span>
                                <span class="font-chirpss text-tw_gray-text">@vekilince</span>
                            </div>
                            <div class="w-[78px] flex rounded-full h-[32px] bg-tw_white-primary justify-center items-center text-tw_black">
                                <span class="font-chirp font-bold">Follow</span>
                            </div>
                        </div>
                    </div>
                    <div class="hover:bg-tw_white-hover duration-[.2s] w-full flex px-[16px] py-[12px] cursor-pointer">
                        <div class="min-w-[48px] min-h-[48px] max-w-[48px] mr-[12px] rounded-full overflow-hidden">
                            <img src="../../../assets/img/bb.jpg" alt="">
                        </div>
                        <div class="flex justify-between w-full items-center">
                            <div class="flex flex-col">
                                <span class="font-chirp">./Altuğ</span>
                                <span class="font-chirpss text-tw_gray-text">@AltugAkgul</span>
                            </div>
                            <div class="w-[78px] flex rounded-full h-[32px] bg-tw_white-primary justify-center items-center text-tw_black">
                                <span class="font-chirp font-bold">Follow</span>
                            </div>
                        </div>
                    </div>
                    <div class="hover:bg-tw_white-hover duration-[.2s] cursor-pointer">
                        <button class="text-tw_blue-primary font-chirp p-[16px]">Show More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-[16px] flex w-[350px] flex-wrap pb-[64px]" >
            <a href="https://twitter.com/en/tos" class="text-tw_gray-text hover:underline text-[13px] leading-[16px] font-chirp pr-[12px]">Terms of Service</a>
            <a href="https://twitter.com/en/tos" class="text-tw_gray-text hover:underline text-[13px] leading-[16px] font-chirp pr-[12px]">Privacy Policy</a>
            <a href="https://twitter.com/en/tos" class="text-tw_gray-text hover:underline text-[13px] leading-[16px] font-chirp pr-[12px]">Cookie Policy</a>
            <a href="https://twitter.com/en/tos " class="text-tw_gray-text hover:underline text-[13px] leading-[16px] font-chirp  pr-[12px] mt-[4px]">Imprint</a>
            <a href="https://twitter.com/en/tos " class="text-tw_gray-text hover:underline text-[13px] leading-[16px]  pr-[12px] font-chirp  mt-[4px]">Accessibility</a>
            <a href="https://twitter.com/en/tos" class="text-tw_gray-text hover:underline text-[13px] leading-[16px] font-chirp pr-[12px]  mt-[4px]">Ads info</a>
            <a href="https://twitter.com/en/tos" class="text-tw_gray-text hover:underline text-[13px] leading-[16px] font-chirp  mt-[4px] flex items-end"><Span class="text-tw_gray-text">More</Span><svg viewBox="0 0 24 24" aria-hidden="true" class="text-tw_gray-text fill-current h-[1em] ml-[2px]"><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg></a>
            <div class="text-tw_gray-text hover:underline text-[13px] leading-[16px] font-chirp  mt-[4px]">© 2023 X Corp.</div>
        </div>
    </div>
</div>