<div class="w-full flex justify-center h-full">
    <div class="flex justify-center h-full">
        <div class="flex h-full">
            <div class=" w-[486]">
                <aside></aside>
            </div>
            <div class="flex">
                <div class="w-[990px] flex justify-between min-h-full">
                    <flow class="grow max-w-[600px]"></flow>
                    <trend-side class="mr-[10px]"></trend-side>
                </div>
            </div>
        </div>
    </div>
</div>
<messages></messages>
